{{!< default}}

<div class="gh-page">
    <div class="pico-container">

        <header class="pico-sitehead">
            <div class="pico-sitehead-content">
                <h1>
                    <a class href="{{@site.url}}">{{@site.title}}</a>
                </h1>
                <p>{{@site.description}}</p>
            </div>
        </header>

        <div class="gh-postfeed">
        {{#foreach posts visibility="all"}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>